body {
  font-family: Arial, Helvetica, sans-serif;
  background: #a4e2ad; /* cor neutra, pode trocar por uma imagem de fundo */
  background-image: url("../img/fundo.png");
  background-size: cover;
  
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;    
  padding: 0 24px;
}

/* logos */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 65px;
  height: 62px;
  object-fit: contain;
}

.logotext {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;  
  font-size: 32px; /* reduzi para caber na barra */
  color: #ffffff;   /* branco para contraste */
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px; 
  font-size: 1.5rem;
  color: white;
}

.header-icons img {
  width: 75px; 
  height: 75px;
  object-fit: contain;
  cursor: pointer;
}

/* container central */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.login-link {
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 3px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background: #0F726C;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #0a5450;
}

.btn-enviar {
  background: #0F726C;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-enviar:hover {
  background: #0a5450;
}