-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: logelec
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `logelec`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `logelec` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `logelec`;

--
-- Table structure for table `agendamentos`
--

DROP TABLE IF EXISTS `agendamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agendamentos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `postagem_id` bigint NOT NULL,
  `empresa_cliente_id` bigint NOT NULL,
  `empresa_prestadora_id` bigint NOT NULL,
  `data_hora` datetime NOT NULL,
  `status` enum('AGENDADA','CONFIRMADA','CANCELADA','REALIZADA') DEFAULT 'AGENDADA',
  `observacoes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `empresa_coletora_id` bigint DEFAULT NULL,
  `empresa_solicitante_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_agendamentos_cliente` (`empresa_cliente_id`),
  KEY `fk_agendamentos_prestadora` (`empresa_prestadora_id`),
  KEY `idx_agendamentos_postagem` (`postagem_id`),
  KEY `idx_agendamentos_status` (`status`),
  KEY `idx_agendamentos_data_hora` (`data_hora`),
  KEY `FKt78sl1r17sv2pwh95tk416iu0` (`empresa_coletora_id`),
  KEY `FKobp7t2o9k018i9agx28qe3jwh` (`empresa_solicitante_id`),
  CONSTRAINT `fk_agendamentos_cliente` FOREIGN KEY (`empresa_cliente_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_agendamentos_postagem` FOREIGN KEY (`postagem_id`) REFERENCES `postagens` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_agendamentos_prestadora` FOREIGN KEY (`empresa_prestadora_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKobp7t2o9k018i9agx28qe3jwh` FOREIGN KEY (`empresa_solicitante_id`) REFERENCES `empresas` (`id`),
  CONSTRAINT `FKt78sl1r17sv2pwh95tk416iu0` FOREIGN KEY (`empresa_coletora_id`) REFERENCES `empresas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agendamentos`
--

LOCK TABLES `agendamentos` WRITE;
/*!40000 ALTER TABLE `agendamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `agendamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome_razao` varchar(255) NOT NULL,
  `cnpj` varchar(20) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `tipo` enum('DESCARTE','COLETA') NOT NULL,
  `endereco` varchar(255) NOT NULL,
  `telefone` varchar(255) DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cnpj` (`cnpj`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_empresas_tipo` (`tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagens`
--

DROP TABLE IF EXISTS `mensagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mensagens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agendamento_id` bigint DEFAULT NULL,
  `empresa_remetente_id` bigint NOT NULL,
  `empresa_destinatario_id` bigint NOT NULL,
  `conteudo` text NOT NULL,
  `lido` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_mensagens_agendamento` (`agendamento_id`),
  KEY `fk_mensagens_remetente` (`empresa_remetente_id`),
  KEY `fk_mensagens_destinatario` (`empresa_destinatario_id`),
  CONSTRAINT `fk_mensagens_agendamento` FOREIGN KEY (`agendamento_id`) REFERENCES `agendamentos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_mensagens_destinatario` FOREIGN KEY (`empresa_destinatario_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_mensagens_remetente` FOREIGN KEY (`empresa_remetente_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagens`
--

LOCK TABLES `mensagens` WRITE;
/*!40000 ALTER TABLE `mensagens` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postagens`
--

DROP TABLE IF EXISTS `postagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `postagens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint NOT NULL,
  `tipo_postagem` enum('OFERTA_RESIDUO','OFERTA_SERVICO') NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `descricao` text,
  `tipo_residuo` varchar(150) DEFAULT NULL,
  `area_cobertura` varchar(150) DEFAULT NULL,
  `peso` decimal(10,2) DEFAULT '0.00',
  `capacidade_coleta` decimal(10,2) DEFAULT '0.00',
  `endereco` text,
  `foto_empresa` longtext,
  `foto_residuos` longtext,
  `status` enum('ABERTA','CANCELADA','FINALIZADA') DEFAULT 'ABERTA',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `endereco_retirada` text,
  `max_peso_coleta` decimal(10,2) DEFAULT NULL,
  `dias_disponibilidade` text,
  `hora_fim` time DEFAULT NULL,
  `hora_inicio` time DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_postagens_empresa` (`empresa_id`),
  KEY `idx_postagens_tipo` (`tipo_postagem`),
  CONSTRAINT `fk_postagens_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postagens`
--

LOCK TABLES `postagens` WRITE;
/*!40000 ALTER TABLE `postagens` DISABLE KEYS */;
/*!40000 ALTER TABLE `postagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'logelec'
--

--
-- Dumping routines for database 'logelec'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-13 20:08:32
